@page "/Offer"
@using WebApplicant.Model
@layout MainLayout
@inject HttpClient http
<link href="css/Page.css" rel="stylesheet" />
<div class="container-fluid mt-5">
<h3>Offer</h3>

    <a href="AddOffer">Add Offer</a>

    <div class="table-card">
        <table>
            <thead>
                <tr>
                    <th>Applicant</th>
                    <th>Position</th>
                    <th>Salary</th>
                    <th>UserAdded</th>
                    <th>DateAdded</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Listoffers)
                {
                    <tr class="gridview">
                        <td>@item.IdApplicant</td>
                        <td>@item.IdPosition</td>
                        <td>@item.Salary</td>
                        <td>@item.UserAdded</td>
                        <td>@item.DateAdded</td>

                    </tr>
                }
            </tbody>
        </table>

  </div>
</div>
@code {
    List<OfferGetDto> Listoffers = new List<OfferGetDto>();

    protected async override Task OnInitializedAsync()
    {

        Listoffers = await http.GetFromJsonAsync<List<OfferGetDto>>("/GetOffer");
    }

}
